/* body */
body {
    background-color: #ffffff;
}
/* list style remover */
ul {
    list-style: none;
}
/* logo style */
.logo {
    color:#2196F3;
}
/* site nav */
.nav {
    color:#212121;

}
.nav-link:hover, .nav-link:focus {
    color:#2196F3;
}
/* sections */
.section {
    color:#212121;
}